{% include header.html anchor='true' %}

<div class="container-fluid container-left">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar well">
				<h1>Chapters</h1>
				<ol>
				{% for post in site.guides_reipatcher %}
				<li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				</ol>
			</div>
        </div>
        <div class="col-md-9">
          <div class="article">
            <div class="well">
				<div class="post-content">
				{{ page.content }}
				</div>
            </div>
          </div>
          <div class="pagination">
              {% if page.previous %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous}}.html" class="next">&lt; Previous chapter</a>
              {% endif %}
              {% if page.next %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next }}.html" class="previous">Next chapter &gt;</a>
              {% endif %}
		   </div>
        </div>
    </div>
</div>

{% include footer.html %}
